$proximusmainpurple: #5C2D91;
$proximusmainblue: #00bCEe;
$proximussecpurple: #9C5FB5;
$proximussecgray: #C1C1C3;
$proximussecdarkblue: #0073CF;
$proximusseclightblue: #66D2CC;
$proximusterdarkpurple: #D1BBDA;
$proximusterlightpurple: #F2E7F2;
$proximusterlightpurplelight: #EBE4F1;
$proximusterdarkblue: #c2d3de;
$proximusterlightblue: #E5F1F9;
$proximusterlightbluelight: #E5E5E5;
$proximusterdarkgray: #636363;
$proximusterlightgray: #CCCCCC;
$proximusblue: #0214c1;
$proximusred: #EE0707;
$proximusredlight: #FDE6E6;
$proximusgreen: #16AD13;
$proximusgreenlight: #E7F7E7;
$proximuspromored: #EE2E5D;
$proximuspromoredhover: #f16375;
$proximuswhite: #FFFFFF;
$proximusblack: #000000;
$proximusyellow: #fff117;


body {
  color: $proximusblack;
}
h2{
    color: $proximusmainpurple;
}
h3{
    color: $proximussecpurple;
}