@import "_colors.scss";
@import "_fonts.scss";

.containerdetail {
    margin: 0 0 50px 0;
    position: relative;

    .invisible{
        display: none;
    }

    .button{
        background: $proximusmainpurple;
        position: absolute;
        right: 15px !important;
        bottom: -10px;
        display: block;
        width: 150px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: white;
        margin: 20px 0 15px;
        cursor: pointer;

        &.upb{
            background: none !important;
            color: $proximusblack;
            font-family: $proximusboldfont;
            border: 2px $proximusmainpurple solid;
            line-height: 25px;
        }
    }

    .titleholder{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;      
    }

    h1{
        margin: 0 50px;
    }
}

.blocksholder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.detailblock {
    display: block;
    position: relative;
    margin: 10px;
    padding-bottom: calc(33% - 10px);
    overflow: hidden;

    &.square {
        width: calc(33% - 20px);
        height: 0;
        background: $proximusterdarkpurple;

        &:nth-child(2n) {
            background: $proximusterlightgray;
        }
    }

    &.rectangle {
        width: calc(66% - 20px);
        height: 0;
        background: $proximusterlightpurple;

        &:nth-child(2n) {
            background: $proximusterlightblue;
        }
    }

    .tileimg {
        height: auto;
        width: auto;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: -50%;
    }

    .title {
        color: $proximusmainpurple;
        font-family: $proximusboldfont;
        font-weight: bold;
        font-size: $fontsizesmall;
        text-align: right;
        margin: 18px;

        & p {
            height: 20px;
            margin: 0 0 5px;
        }
    }

    .value {
        color: $proximuswhite;
        font-family: $proximuslightfont;
        font-size: 8em;
        position: absolute;
        bottom: 8%;
        right: 10%;
        display: flex;
        flex-flow: row nowrap;

        .sup {
            font-size: 40px;
            margin-left: -25px;
        }
    }

    #thresholdCarousel{
        height: 100%;
        width: 100%;

        position:absolute;
        top: 0;
        right: 0;

        .carousel-control{
            background-image: none;
        }

        h3{
            text-align: right;
            font-size: $fontsizemedium;
        }

        .item{
            height: 100%;
        }

        .item > div{
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;
            padding: 0 50px;

            &.inactive{
                display: none;
            }

            &.title{
                position: absolute;
                top: 0;
                right: 0;
                align-self: flex-start;
                height: 20px;
                margin: 18px;
                padding: 0;
                text-align: right;
            }

            .value{
                position: relative;
                top: 0; right: 0;

                &.left *{
                    color: $proximusmainblue;
                }

                &.right *{
                    color: $proximusmainpurple;
                }
            }

            .adjustable {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                & > .arrows{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;

                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    .containerlist{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        
        height: 225px;
        width: 100%;

        li{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            height: 50px;
            width: 100%;
            font-family: $proximusregularfont;
            font-size: $fontsizesmall;
            color: $proximusmainpurple;

            img{
                width: auto;
                height: auto;
                max-height: 50px;
                max-width: 75px;
            }

            p {
                margin: 0 0 0 15px;
                cursor: pointer;
            }
        }
    }
}

.blue{
    color: $proximusmainblue;
}

.purple{
    color: $proximusmainpurple;
}

#chart {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0; left: 0;

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .axis text {
        fill: #000;
    }

    .axis .tick line {
        stroke: rgba(0, 0, 0, 0.1);
    }

    .area {
        stroke-width: 1;
    }

    .area.outer,
    .legend .outer {
        fill: rgba(230, 230, 255, 0.8);
        stroke: rgba(216, 216, 255, 0.8);
    }

    .area.inner,
    .legend .inner {
        fill: rgba(0, 115, 207, 0.8);
        stroke: rgba(0, 115, 207, 0.8);
    }

    .median-line,
    .legend .median-line {
        fill: none;
        stroke: #000;
        stroke-width: 3;
    }

    .legend .legend-bg {
        fill: rgba(0, 0, 0, 0.5);
        stroke: rgba(0, 0, 0, 0.5);
    }

    .marker.history .marker-bg,
    .marker.history path {
        fill: rgba(0, 188, 238, 0.8);
        stroke: rgba(0, 188, 238, 0.8);
        stroke-width: 3;
    }

    .marker.current .marker-bg,
    .marker.current path {
        fill: rgba(92, 45, 145, 0.8);
        stroke: rgba(92, 45, 145, 0.8);
        stroke-width: 3;
    }

    .marker path {
        fill: none;
    }

    .legend text,
    .marker text {
        fill: #fff;
        font-weight: bold;
    }

    .marker text {
        text-anchor: middle;
    }
}
