@import "_colors.scss";
@import "_fonts.scss";
h2{
      display:inline;
}
.sensorul{
    white-space:nowrap;
    width:100%;
    margin-bottom:5%;
    padding:3% 0 0 2.4%;
}
.editgroup{
     display:inline;
         padding:2%;
         margin:auto;
     & .editbutton{
         cursor:pointer;
          display:inline;
         font-family:$proximusregularfont;
         font-size:$fontsizesmall;
         color:$proximuswhite;
         padding:1% 2%;
         bottom:10%;
     background-color:$proximussecpurple;
     &:hover{
         color:$proximusblack;
         background-color:$proximusterdarkpurple;
            }
     }
}
.blur{
    -webkit-filter:blur(5px);
    -moz-filter:blur(5px);
    -o-filter:blur(5px);
    -ms-filter:blur(5px);
    filter:blur(5px);
}
.unblur{
   /* -webkit-filter:none;
    -moz-filter:none;
    -o-filter:none;
    -ms-filter:none;
    filter:none;*/
}

.groupdiv{
    display:flex;
    flex-wrap:wrap;
    padding:0 0 5% 3%;
}
.grouprectangletile{
    float:left;
    width:$largeblock;
    height:125px;
    color: $proximuswhite;
    background-color: $proximusmainblue;
    margin:0.5%;
    opacity:0.8;
    & a{
    color: $proximuswhite;
    }
    &:hover{
          cursor: pointer;
    }
}
.oldgroups:hover{
           background-color: $proximusterdarkblue;
             color: $proximusmainpurple;
}
.addgrouptile:hover{
    background-color: $proximusterdarkblue;
    & a{
    color: $proximusmainpurple;
    }
}
.textdivgroup{
    
    display:block;
    margin:1%;
    font-family:$proximusregularfont;
    font-size:$fontsizemedium;
}
.ciphervaluegroup{
    
    display:block;
    margin:0 0 0 3%;
    font-family:$proximusregularfont;
    font-size:$fontsizelarge;
}
.sensors{
    display:inline;
    float:right;
    font-family:$proximusregularfont;
    font-size:$fontsizemedium;
    margin:-10% 2% 0;
    overflow:hidden;
}
.addgroup{
     display:inline-block;
    font-family:$proximusregularfont;
    font-size:$fontsizelarge;
    width:$largeblock;
    height:125px;
    margin: 0 auto;
    padding: 15%;
    position: relative;
    text-align:center;
}
.newgroup{
    height:125px;
    width:415px;
    font-size:$fontsizesmall;
    font-weight:normal;
    color:$proximusblack;
    padding-left:2%;
}
.groupinputlabel{
    color:$proximuswhite;
    display:block;
}
.groupeditinputlabel
{
    display:block;
    margin-left:-10%;
    text-align:center;
    color:$proximuswhite;
    font-size:$fontsizesmall;
}
.groupinputtext
{
    display:inline-block;
    margin:1% 0 0 2%;
    color:$proximusblack;

}
.newgrouppintext{
    margin-left:10%;
    font-weight:normal;
}

.editgroupfield{
    position: absolute;
    z-index: 9001;
    height:125px;
    width:415px;
    font-size:$fontsizesmall;
    font-weight:normal;
    color:$proximusblack;
    padding-left:2%;
    margin: 0 20%;
}

/*.form-control{
    display:inline-block;
    width:unset;
    margin-right:2%;
    float:right;
}*/
#newgrouppin{
    display:inline-block;
}
.newgroupbutton{
    margin-right:10%;
     color:$proximusblack;
         font-family:$proximusregularfont;
         font-size:$fontsizesmall;
         padding:0.5% 1%;
     background-color:$proximusterlightpurple;
     float:right;
     &:hover{
         color:$proximusblack;
         background-color:$proximusterdarkpurple;
            }
}
.newgroupbuttontext{
    padding:1% 0 1% 0;
    font-weight:normal;
    color:$proximuswhite;
}

.editgroupbutton{
        margin-right:35%;
     color:$proximusblack;
         font-family:$proximusregularfont;
         font-size:$fontsizesmall;
         padding:0.5% 1%;
     background-color:$proximusterlightpurple;
     float:right;
     &:hover{
         color:$proximusblack;
         background-color:$proximusterdarkpurple;
            }
}
.editgroupbuttontext{
    color:$proximuswhite;
}

.inputimg{
    width:30px;
    height:30px;
    padding:5px;
    margin:0 0 -5% -5%;
    background-color:$proximusmainpurple;
}
.searchbardiv{
    height:30px;
}


.sensorlist{
    width:100%;
}

  #dialogdiv{ 
      width: 200px;
    height:25px;
    text-align:center;
    margin: auto;
  }
  .sensorsheadrow{
    font-family:$proximusboldfont;
    flex-wrap:nowrap;
      margin:20px;
    padding-bottom:2%;
    background-color:$proximusterdarkblue;
}

.sensorrows{
    
    flex-wrap:nowrap;
    height:40px;
    font-family:$proximusregularfont;
    background-color:$proximusterlightblue;
    margin-bottom:10px;
    opacity:0.8;
    & a{
    display:block;
    color:$proximusblack;
    }
    &:hover{
      cursor: pointer;
       color:$proximusblack;
      background-color:$proximusterdarkblue;
      opacity:0.6;
    }
    &:hover .sensornotpinimg{
    width:20px;
    height:20px;
    opacity:1;
    }
}

.groupsensorrow{
    color:$proximuswhite;
      background-color:$proximusterdarkgray;
}

.sensornotpinimg{
    width:20px;
    height:20px;
    opacity:0;
}
.sensorpinimg{
    width:20px;
    height:20px;
    opacity:1;
}

.sensordetails{
    
    position:relative;
    //z-index:20;
    display: block;
    //width:100%;
    padding:1% 0 0 4%;
    padding-bottom:5%;
    background-color:$proximusmainblue;
    margin-top: -25px;
    font-size:$fontsizesmall;
}
.sensordetailcontainer{
         display: block;
    }
.sensordetailcontainers{
    
    color:$proximuswhite;
    display: inline-flex;
}
.pincaseimg{
    width:25px;
    height:25px;
}
.sensordetaillink{
    color:$proximuswhite;
    position:absolute;
    top:20%;
    right:5%;

    &:hover{
    color:$proximussecdarkblue;
    }
}
.linkicondetail{
    position:absolute;
    top:20%;
    right:50%;
}
.containerdetaillink{
    color:$proximuswhite;
    &:hover{
    color:$proximussecdarkblue;
    }
}