@import "_colors.scss";
@import "_fonts.scss";

.colorWrapper{
    background-color: rgba(255, 255, 255, .7);
    margin: auto;
}
.bodyPadding{
        padding-top: 55px;
    }

@media (min-width: 768px){
    .colorWrapper {
        width: 750px;
    }
    .bodyPadding{
        padding-top: 155px;
    }
}
@media (min-width: 992px){
.colorWrapper {
    width: 970px;
}
.bodyPadding{
    padding-top: 85px;
}
}
@media (min-width: 1200px){
    .colorWrapper{
        width: 1170px;
    }
    .bodyPadding{
    padding-top: 85px;
    }
}

body{
  background: url("http://loradatagroep9.blob.core.windows.net/proximusimages/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


li{
    list-style-type:none;
}
footer{
    bottom:unset;
    color:$proximuswhite;
    float:right;
    color:$proximusmainpurple;
    float:right;
}

a:hover{
    text-decoration:none;
}

h1{
    font-size:$fontsizelarge;
}
h2{
     font-size:$fontsizemedium;
}
h3{
     font-size:$fontsizesmall;
}
body{
    
    font-family:$proximusregularfont,$basicfonts;
}
ul{
    padding-left:4%;
}
.breadcrumbs{
    font-family:$proximuslightfont;
    font-size: $fontsizesmall;
    & a{
    color:$proximusmainpurple;
        &:hover{
        color:$proximusmainblue;
               }
       }
    
}