@font-face {
  font-family: Proximus-Regular;
  src: url("../fonts/Proximus-Regular.ttf") format("truetype"), url("../fonts/Proximus-Regular.woff") format("woff"); }

@font-face {
  font-family: Proximus-Light;
  src: url("../fonts/Proximus-Light.ttf") format("truetype"), url("../fonts/Proximus-Light.woff") format("woff"); }

@font-face {
  font-family: Proximus-LightItalic;
  src: url("../fonts/Proximus-LightItalic.ttf") format("truetype"), url("../fonts/Proximus-LightItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-RegularItalic;
  src: url("../fonts/Proximus-RegularItalic.ttf") format("truetype"), url("../fonts/Proximus-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-Bold;
  src: url("../fonts/Proximus-Bold.ttf") format("truetype"), url("../fonts/Proximus-Bold.woff") format("woff"); }

@font-face {
  font-family: Proximus-BoldItalic;
  src: url("../fonts/Proximus-BoldItalic.ttf") format("truetype"), url("../fonts/Proximus-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-ExtraBold;
  src: url("../fonts/Proximus-ExtraBold.ttf") format("truetype"), url("../fonts/Proximus-ExtraBold.woff") format("woff"); }

h1 {
  color: #5C2D91; }

h2 {
  color: #9C5FB5; }

h3 {
  color: #D1BBDA; }

h1 {
  color: #5C2D91; }

h2 {
  color: #9C5FB5; }

h3 {
  color: #D1BBDA; }

@font-face {
  font-family: Proximus-Regular;
  src: url("../fonts/Proximus-Regular.ttf") format("truetype"), url("../fonts/Proximus-Regular.woff") format("woff"); }

@font-face {
  font-family: Proximus-Light;
  src: url("../fonts/Proximus-Light.ttf") format("truetype"), url("../fonts/Proximus-Light.woff") format("woff"); }

@font-face {
  font-family: Proximus-LightItalic;
  src: url("../fonts/Proximus-LightItalic.ttf") format("truetype"), url("../fonts/Proximus-LightItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-RegularItalic;
  src: url("../fonts/Proximus-RegularItalic.ttf") format("truetype"), url("../fonts/Proximus-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-Bold;
  src: url("../fonts/Proximus-Bold.ttf") format("truetype"), url("../fonts/Proximus-Bold.woff") format("woff"); }

@font-face {
  font-family: Proximus-BoldItalic;
  src: url("../fonts/Proximus-BoldItalic.ttf") format("truetype"), url("../fonts/Proximus-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-ExtraBold;
  src: url("../fonts/Proximus-ExtraBold.ttf") format("truetype"), url("../fonts/Proximus-ExtraBold.woff") format("woff"); }

.tile {
  background-color: #5c2d91;
  list-style: none;
  color: white; }

.homepageBody {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;
  font-family: Proximus-Regular, Helvetica, sans-serif; }

body {
  background-image: url("http://loradatagroep9.blob.core.windows.net/proximusimages/bg.png");
  background-size: cover; }

.gridsterContainer {
  padding: 30px 50px 50px 50px;
  min-height: 100%;
  height: 100%;
  margin: 0 auto -20px; }

.homeTitle {
  color: #fff;
  margin: 20px 0 0 50px; }

.textdiv {
  font-size: 2em;
  text-align: center;
  vertical-align: bottom; }

/*$largeblock: 200px;
$smallblock: 100px;
$fontsizelarge: 6em;
$fontsizemedium: 2em;
$fontsizesmall: 1.2em;
$fontsizestiny: 0.85em;


.mainhomepagediv {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll; 
    overflow-y:hidden; 
    max-height: 1080px;
}

.horizontalrectangletile,
.verticalrectangletile,
.smallsquaretile,
.largesquaretile
{
    //display:table-cell;
    //overflow:hidden;
    color: $proximuswhite;
    //vertical-align:middle;
    //align-content:center;
    //justify-content:center;
    //text-decoration:none;
    &.horizontalrectangletile
    {
    
    font-size: $fontsizestiny;
    background-color: $proximussecpurple;
    width: $largeblock; 
    height: $smallblock;
    }

    &.verticalrectangletile
    {
    font-size:$fontsizesmall;
    background-color: $proximussecpurple; 
    width: $smallblock;
    height: $largeblock;
    }
    &.smallsquaretile 
    {
    font-size:$fontsizestiny;
    background-color: $proximussecpurple; 
    //width: $smallblock; 
    //height: $smallblock;
    }
    &.largesquaretile 
    {
    background-color: $proximussecpurple;
    width: $largeblock; 
    height: $largeblock;
    display: inline-block;
    margin: 0 10px 5px 5px;
    }

}
 a .smallsquaretile
 { 
    //width: $smallblock; 
    //height: $smallblock;
 }
  a .largesquaretile
  { 
    width: $largeblock; 
    height: $largeblock;
  }

.textdiv 
{
    font-size:$fontsizemedium;
    text-align:center;
    vertical-align:bottom;
}
.textdivsmallsquare 
{
    font-size:$fontsizesmall;
    text-align:center;
}
.ciphervalue
{
    margin:0 10px;
    font-size:$fontsizehuge;
    text-align:left;
}
.customimg
{
    position:relative;
    display:table-cell;
    width:auto;
    height:auto;
    vertical-align: bottom;
    margin: auto;

    &.errorimg 
    {
    max-height:75%;
    max-width:75%;
    float: right;
    bottom: 40%;
    right: -20%;
    }

    &.warningimg 
    {
    max-height:65%;
    max-width:65%;
    float: right;
    bottom: 35%;
    right: -20%;
    }

    &.logoutimg
    {
    max-height:95%;
    max-width:95%;
    bottom:-2%;
    }
        &.pinimg
    {
    max-height:25%;
    max-width:25%;
    float: right;
    top:-30%;
    }

}

.maindiv 
{
    font-family: $proximusregularfont,$basicfonts;
    display:flex;
    align-content:center;
    justify-content:center;
    border-spacing:5px;
    overflow:hidden;
    & .smallsquaretile:hover
    {
                 background-color: $proximusterdarkpurple;
    }
    & .largesquaretile:hover
    {
                 background-color: $proximusterdarkpurple;
    }
    & .horizontalrectangletile:hover
    {
         background-color: $proximusterdarkpurple;
    }
    
    & .verticalrectangletile:hover
    {
         background-color: $proximusterdarkpurple;
    }
    & .unhoverabletile:hover
    {
         background-color:$proximussecpurple;
    }
    & a:hover
    {
         text-decoration:none;
    }
}

.test
    {
    list-style: none;
                 background-color: $proximusterdarkpurple;
    }


.clock {
  border-radius: 50%;
  background: #fff url(http://loradatagroep9.blob.core.windows.net/proximusimages/ios_clock.svg) no-repeat center;
  background-size: 88%;
  height: 13.5em;
  padding-bottom: 31%;
  position: relative;
  width: 13.5em;
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}
.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}
.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
.hours-container {
  animation: rotate 43200s infinite linear;
}
.minutes-container {
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.seconds-container {  
  transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}*/
h1 {
  color: #5C2D91; }

h2 {
  color: #9C5FB5; }

h3 {
  color: #D1BBDA; }

@font-face {
  font-family: Proximus-Regular;
  src: url("../fonts/Proximus-Regular.ttf") format("truetype"), url("../fonts/Proximus-Regular.woff") format("woff"); }

@font-face {
  font-family: Proximus-Light;
  src: url("../fonts/Proximus-Light.ttf") format("truetype"), url("../fonts/Proximus-Light.woff") format("woff"); }

@font-face {
  font-family: Proximus-LightItalic;
  src: url("../fonts/Proximus-LightItalic.ttf") format("truetype"), url("../fonts/Proximus-LightItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-RegularItalic;
  src: url("../fonts/Proximus-RegularItalic.ttf") format("truetype"), url("../fonts/Proximus-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-Bold;
  src: url("../fonts/Proximus-Bold.ttf") format("truetype"), url("../fonts/Proximus-Bold.woff") format("woff"); }

@font-face {
  font-family: Proximus-BoldItalic;
  src: url("../fonts/Proximus-BoldItalic.ttf") format("truetype"), url("../fonts/Proximus-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-ExtraBold;
  src: url("../fonts/Proximus-ExtraBold.ttf") format("truetype"), url("../fonts/Proximus-ExtraBold.woff") format("woff"); }

.colorWrapper {
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto; }

@media (min-width: 768px) {
  .colorWrapper {
    width: 750px; } }

@media (min-width: 992px) {
  .colorWrapper {
    width: 970px; } }

@media (min-width: 1200px) {
  .colorWrapper {
    width: 1170px; } }

li {
  list-style-type: none; }

footer {
  bottom: unset;
  color: #FFFFFF;
  float: right;
  color: #5C2D91;
  float: right; }

a:hover {
  text-decoration: none; }

h1 {
  font-size: 2.75em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.2em; }

body {
  font-family: Proximus-Regular, Helvetica, sans-serif; }

ul {
  padding-left: 4%; }

.breadcrumbs {
  font-family: Proximus-Light;
  font-size: 1.2em; }
  .breadcrumbs a {
    color: #5C2D91; }
    .breadcrumbs a:hover {
      color: #00bCEe; }

h1 {
  color: #5C2D91; }

h2 {
  color: #9C5FB5; }

h3 {
  color: #D1BBDA; }

.purpleHr {
  border: 0;
  height: 1px;
  color: #5c2d91;
  background-color: #5c2d91;
  display: block;
  margin: 0; }

.blueHr {
  border: 0;
  height: 3px;
  width: 60px;
  color: #00bCEe;
  background-color: #00bCEe;
  display: block;
  margin: 5px auto; }

.interDiv {
  border-left: 1px solid #5c2d91;
  height: 30px;
  float: left;
  margin: 25px 1px 0 1px; }

.headerMargin {
  padding: 5px; }

.headerMargin:hover {
  background-color: #E5F1F9 !important; }

body {
  padding-top: 0px; }

h1 {
  color: #5C2D91;
  margin-right: 50px; }

#language {
  margin: 32px 10px 0 0; }

.right {
  margin-right: 0; }

.navbar {
  margin-bottom: 0px; }

.navoverride {
  background-color: transparent;
  border: none; }

.buttonoverride {
  background-color: white;
  border-color: #5C2D91; }

.buttonoverride:focus {
  background-color: white !important;
  border-color: #5C2D91 !important; }

.buttonoverride:hover {
  background-color: #F2E7F2 !important; }

.icon-bar {
  background-color: #5C2D91 !important; }

.navtext {
  margin-left: 20px;
  display: none;
  font-size: 1.2em; }

.imghelper {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

@media (max-width: 768px) {
  .navtext {
    display: initial;
    margin: 0 0 0 25px; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #000000 !important; }
  .headerMargin > img {
    width: 45px;
    height: auto; }
  .imghelper {
    width: 65px; }
  .interDiv {
    display: none; }
  .headerMargin {
    display: flex !important;
    align-items: center !important; } }

h1 {
  color: #5C2D91; }

h2 {
  color: #9C5FB5; }

h3 {
  color: #D1BBDA; }

@font-face {
  font-family: Proximus-Regular;
  src: url("../fonts/Proximus-Regular.ttf") format("truetype"), url("../fonts/Proximus-Regular.woff") format("woff"); }

@font-face {
  font-family: Proximus-Light;
  src: url("../fonts/Proximus-Light.ttf") format("truetype"), url("../fonts/Proximus-Light.woff") format("woff"); }

@font-face {
  font-family: Proximus-LightItalic;
  src: url("../fonts/Proximus-LightItalic.ttf") format("truetype"), url("../fonts/Proximus-LightItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-RegularItalic;
  src: url("../fonts/Proximus-RegularItalic.ttf") format("truetype"), url("../fonts/Proximus-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-Bold;
  src: url("../fonts/Proximus-Bold.ttf") format("truetype"), url("../fonts/Proximus-Bold.woff") format("woff"); }

@font-face {
  font-family: Proximus-BoldItalic;
  src: url("../fonts/Proximus-BoldItalic.ttf") format("truetype"), url("../fonts/Proximus-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-ExtraBold;
  src: url("../fonts/Proximus-ExtraBold.ttf") format("truetype"), url("../fonts/Proximus-ExtraBold.woff") format("woff"); }

h2 {
  display: inline; }

.sensorul {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 5%;
  padding: 3% 0 0 2.4%; }

.editgroup {
  display: inline;
  padding: 2%;
  margin: auto; }
  .editgroup a {
    font-family: Proximus-Regular;
    font-size: 1.2em;
    color: #FFFFFF;
    padding: 1% 2%;
    bottom: 10%;
    background-color: #9C5FB5; }
    .editgroup a:hover {
      color: #000000;
      background-color: #D1BBDA; }

.groupdiv {
  display: flex;
  padding: 0 0 5% 2%; }

.grouprectangletile {
  float: left;
  width: 200px;
  height: 100px;
  color: #FFFFFF;
  background-color: #00bCEe;
  margin: 2%; }
  .grouprectangletile a {
    color: #FFFFFF; }

.addgrouptile:hover {
  background-color: #c2d3de; }
  .addgrouptile:hover a {
    color: initial; }

.textdivgroup {
  display: inline-block;
  margin: 1%;
  font-family: Proximus-Regular;
  font-size: 2em; }

.ciphervaluegroup {
  display: inline;
  margin: 2%;
  font-family: Proximus-Regular;
  font-size: 2em; }

.sensors {
  display: inline;
  float: right;
  font-family: Proximus-Regular;
  font-size: 2em;
  margin: 8% 2% 0;
  overflow: hidden; }

.addgroup {
  display: inline-block;
  font-family: Proximus-Regular;
  font-size: 2.75em; }

.addgroup {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  padding: 10%;
  position: relative;
  text-align: center; }

.searchdiv {
  height: 30px; }

.inputimg {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-bottom: -5%;
  background-color: #5C2D91; }

.searchbardiv {
  height: 30px; }

.dropdowntest {
  display: inline;
  margin-left: 10px;
  font-family: Proximus-Regular;
  padding: 0 4% 0 1%;
  -webkit-appearance: none;
  height: 30px;
  background-image: url("http://loradatagroep9.blob.core.windows.net/proximusimages/arrow-down-icon.svg");
  background-position: 98%;
  background-repeat: no-repeat; }

.searchsensorform {
  display: inline-block;
  padding: 0 10% 5% 5%; }

/*.sensormanagementhtml{
    background-color:white;
}*/
.sensorlist {
  width: 100%; }

/*
.sensorsheadrow{
    
    display:flex;
    justify-content:space-around;
    padding-bottom:2%;
    background-color:$proximusterdarkblue;
}
.sensorrows{
    background-color:$proximusterlightblue;
    margin-bottom:10px;
    align-items:center;
    flex-grow:0;
    flex-basis:25%;
    & a{
        color:$proximusblack;
    display:flex;
    justify-content:space-around;
    }
    &:hover .sensorpinimg{
        display:flex;
    }
}
    */
/*  .idsensordiv,.namesensordiv,.numbercontainerdiv,.sensorlocationdiv{
    flex-grow: 0;
    flex-basis: 25%;
    margin-left:10px;
    }*/
.sensorsheadrow {
  font-family: Proximus-Bold;
  display: table-row;
  padding-bottom: 2%;
  background-color: #c2d3de; }

.sensorrows {
  height: 40px;
  font-family: Proximus-Regular;
  background-color: #E5F1F9;
  margin-bottom: 10px; }
  .sensorrows a {
    display: block;
    color: #000000; }
  .sensorrows:hover .sensorpinimg {
    width: 20px;
    height: 20px; }

/*.sensorpinimg{
     display:none;
    max-height:20px;
    max-width:20px;
    width:auto;
    height:auto;
}
.pinlink{
    display:inline;
    float:right;
}*/

