@font-face {
  font-family: Proximus-Regular;
  src: url("../fonts/Proximus-Regular.ttf") format("truetype"), url("../fonts/Proximus-Regular.woff") format("woff"); }

@font-face {
  font-family: Proximus-Light;
  src: url("../fonts/Proximus-Light.ttf") format("truetype"), url("../fonts/Proximus-Light.woff") format("woff"); }

@font-face {
  font-family: Proximus-LightItalic;
  src: url("../fonts/Proximus-LightItalic.ttf") format("truetype"), url("../fonts/Proximus-LightItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-RegularItalic;
  src: url("../fonts/Proximus-RegularItalic.ttf") format("truetype"), url("../fonts/Proximus-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-Bold;
  src: url("../fonts/Proximus-Bold.ttf") format("truetype"), url("../fonts/Proximus-Bold.woff") format("woff"); }

@font-face {
  font-family: Proximus-BoldItalic;
  src: url("../fonts/Proximus-BoldItalic.ttf") format("truetype"), url("../fonts/Proximus-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-ExtraBold;
  src: url("../fonts/Proximus-ExtraBold.ttf") format("truetype"), url("../fonts/Proximus-ExtraBold.woff") format("woff"); }

body {
  color: #000000; }

h2 {
  color: #5C2D91; }

h3 {
  color: #9C5FB5; }

body {
  color: #000000; }

h2 {
  color: #5C2D91; }

h3 {
  color: #9C5FB5; }

@font-face {
  font-family: Proximus-Regular;
  src: url("../fonts/Proximus-Regular.ttf") format("truetype"), url("../fonts/Proximus-Regular.woff") format("woff"); }

@font-face {
  font-family: Proximus-Light;
  src: url("../fonts/Proximus-Light.ttf") format("truetype"), url("../fonts/Proximus-Light.woff") format("woff"); }

@font-face {
  font-family: Proximus-LightItalic;
  src: url("../fonts/Proximus-LightItalic.ttf") format("truetype"), url("../fonts/Proximus-LightItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-RegularItalic;
  src: url("../fonts/Proximus-RegularItalic.ttf") format("truetype"), url("../fonts/Proximus-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-Bold;
  src: url("../fonts/Proximus-Bold.ttf") format("truetype"), url("../fonts/Proximus-Bold.woff") format("woff"); }

@font-face {
  font-family: Proximus-BoldItalic;
  src: url("../fonts/Proximus-BoldItalic.ttf") format("truetype"), url("../fonts/Proximus-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: Proximus-ExtraBold;
  src: url("../fonts/Proximus-ExtraBold.ttf") format("truetype"), url("../fonts/Proximus-ExtraBold.woff") format("woff"); }

.mainhomepagediv {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 1080px; }

.horizontalrectangletile,
.verticalrectangletile,
.smallsquaretile,
.largesquaretile {
  display: table-cell;
  overflow: hidden;
  color: #FFFFFF;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  text-decoration: none; }
  .horizontalrectangletile.horizontalrectangletile,
  .verticalrectangletile.horizontalrectangletile,
  .smallsquaretile.horizontalrectangletile,
  .largesquaretile.horizontalrectangletile {
    font-size: 0.85em;
    background-color: #9C5FB5;
    width: 200px;
    height: 100px; }
  .horizontalrectangletile.verticalrectangletile,
  .verticalrectangletile.verticalrectangletile,
  .smallsquaretile.verticalrectangletile,
  .largesquaretile.verticalrectangletile {
    font-size: 0.85em;
    background-color: #9C5FB5;
    width: 100px;
    height: 200px; }
  .horizontalrectangletile.smallsquaretile,
  .verticalrectangletile.smallsquaretile,
  .smallsquaretile.smallsquaretile,
  .largesquaretile.smallsquaretile {
    font-size: 0.85em;
    background-color: #9C5FB5;
    width: 100px;
    height: 100px; }
  .horizontalrectangletile.largesquaretile,
  .verticalrectangletile.largesquaretile,
  .smallsquaretile.largesquaretile,
  .largesquaretile.largesquaretile {
    background-color: #9C5FB5;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 10px 5px 5px; }

a .smallsquaretile {
  width: 100px;
  height: 100px; }

a .largesquaretile {
  width: 200px;
  height: 200px; }

.textdiv {
  font-size: 2em;
  text-align: center;
  vertical-align: bottom; }

.textdivsmallsquare {
  font-size: 1.2em;
  text-align: center; }

.ciphervalue {
  margin: 0 10px;
  font-size: 6em;
  text-align: left; }

.customimg {
  position: relative;
  display: table-cell;
  width: auto;
  height: auto;
  vertical-align: bottom;
  margin: auto; }
  .customimg.errorimg {
    max-height: 75%;
    max-width: 75%;
    float: right;
    bottom: 40%;
    right: -20%; }
  .customimg.warningimg {
    max-height: 65%;
    max-width: 65%;
    float: right;
    bottom: 35%;
    right: -20%; }
  .customimg.logoutimg {
    max-height: 95%;
    max-width: 95%;
    bottom: -2%; }

.maindiv {
  font-family: Proximus-Regular, Helvetica, sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  border-spacing: 5px;
  overflow: hidden; }
  .maindiv .smallsquaretile:hover {
    background-color: #D1BBDA; }
  .maindiv .largesquaretile:hover {
    background-color: #D1BBDA; }
  .maindiv .horizontalrectangletile:hover {
    background-color: #D1BBDA; }
  .maindiv .verticalrectangletile:hover {
    background-color: #D1BBDA; }
  .maindiv .unhoverabletile:hover {
    background-color: #9C5FB5; }
  .maindiv a:hover {
    text-decoration: none; }

body {
  color: #000000; }

h2 {
  color: #5C2D91; }

h3 {
  color: #9C5FB5; }

footer {
  color: #5C2D91;
  float: right; }

